<div  ="header">
	<div class="container">
	<h1>DEIGirls Diary</h1>
	</div>
</div>
<div class="main">

	<td><%= button_to "Add Entry", entry_add_entry_path %></td>
	<%= link_to "Home", root_path %>

	<div class="container">
		<h2>Past entries</h2>
		<table style="width:100%">
			<td>Author</td>
			<td>Date</td>
			<td>Title</td>
			<td>Description</td>
			<td>Update</td>
			<td>Delete</td>
			<ul class="comments">
				<% @all_entries.each do |p| %>
					<tr>
						<td><%=p.author%></td>
						<td><%=p.created_at %></td>
						<td><%=p.title %></td>
						<td><%= p.description%></td>
						<td><%= button_to "Update", entry_path(p) %></td>
						<td><%= button_to "Delete", entry_delete_path(p) %>  </td>
					</tr>
				<% end %>
			</ul> 
        </table> 
    </div>
</div>



