<div  ="header">
	<div class="container">
	<h1>DEIGirls Diary</h1>
	<h2>Create new entry</h2>
	</div>
</div>


<%= form_for(@new_entry) do |f| %>  
	<div class="field"> 
		<%= f.label :Title %>        
    		<%= f.text_area :title %><br> 
		<%= f.label :Description %>  
    		<%= f.text_area :description %> <br>
		<%= f.label :By %>           
    		<%= f.text_area :author %> <br>
  	</div> 
  	<div class="actions"> 
    		<%= f.submit "Post" %> 
  	</div> 
<% end %>
